body{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  a{
    text-decoration: none;
  }
    
  .bodyCover{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
  }
  
  .header{
    width: 100%;
  }
  
  .logo{
    width: 40%;
  }
  
  .name{
    color: #000000;
    font-family: "Acumin Pro Font family", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  
  .bioBlock{
    background-color: transparent;
    width: 80%;
  }
  
  .bio{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
  }
  
  .content{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 10px;
    margin: 2%;
  }
  
  .share{
    display: flex;
    width: 100%;
    flex-direction: column;  
    align-content: center;  
  }
    
  .socialIcon{
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    column-gap: 2%;
  }
    
  .button{
    display: flex;
    width: 100%;
    flex-direction: column;  
    justify-content: center;
    justify-items: flex-start;
    font-family: "Acumin Pro Font family", Sans-serif;
    border-radius: 35px 35px 35px 35px;
    text-align: left;
    margin-bottom: 10%;
    padding-left: 15px;
  }
  
  .saveButton{
    background-color: #253e53;
    border: none;
    border-radius: 35px;
    padding: 15px;
    font-size: medium;
    font-weight: 700;
    color: white;
  }
  
  .webButton{
    width: 80%;
    background-color: #253e53;
    border: none;
    box-shadow: none;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    text-align: left
  }
  
  .buttonLink{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    width: 100%;
    color: white;
  }
  
  .buttonSingle{
    width: 100%;
    background-color: #253e53;
    border: none;
    box-shadow: none;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10%;
    border-radius: 30px;
  }
    
  
  
    
    <!--css code vir die accordion-->
    
  details {
    font: 16px "Acumin Pro Font family", sans-serif;
    width: 620px;
    background-color: transparent;
  }
  
  details > summary {
    width: 85%;
    background-color: #253e53;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    color: white;
  }
  
  
  
  ::marker{
    color: transparent;
  }
  
  details[open] > p, a {
    border-radius: 0;
    background-color: transparent;
    margin: 10px;
    box-shadow: none;
    text-align: left;
    text-decoration: none;
    color: #000000;
  }
  
  details[open] > summary {
    background-color:#253e53;
  }
  
  footer{
    width: 100%;
    background-color: #253e53;
  }
  
  h6{
    color: #253e53;
  }
  