html{
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.headerLogo{
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.mainNav{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    column-gap: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.navLink{
    color: #1a1a1a;
    text-decoration: none;
    font-size: 20px;
}

.navLink:active{
    text-decoration: none;
    color: #00d6b7;
}

.introMain{
    background-color: #1a1a1a;
    margin: 0%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-around;
    align-content: center;
    padding: 2%;
}

.introBlock{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.introImage{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.introArticle{
    color: aliceblue;
    row-gap: 0;
}

.introH2{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.introH1{
    font-size: 89px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -10%;
    margin-bottom: -10%;
}

.introButton{
    width: 60%;
}

.action{
    width: 100%;
    background-color: #00d6b7;
    padding: 5%;
    border-radius: 10px;
    border: none;
}

.actionLink{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
}

.stepBlock{
    padding-left: 5%;
    padding-top: 0%;
    padding-right: 5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-content: center;
    border: #1a1a1a solid 5px;
}

.stepTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.stepHeading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    column-gap: 3%;
    font-size: 50px;
    margin-bottom: -7%;
}

.number0{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    place-items: 1;
}

.number1{
    color: #00d6b7;
    
}

.number2{
    color: #005d91;
    margin-left: -1%;
}

.number3{
    color: #6422ae;
    margin-left: -1%;
}

.stepArticle{
    font-size: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
    margin-top: 2%;
}

.steps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    align-items: start;
    margin-top: -5%;
}

.step1{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    align-content: space-around;
    padding: 1%;
}

.step2{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.step3{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0% 10% 0% 10%
}

.step4{
    text-align: center;
}

.stepbutton{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

.stepAction{
    width: 33%;
    background-color: #00d6b7;
    padding: 1%;
    border-radius: 10px;
    border: none;
}

@keyframes slide {
    100%,
    50% {
      transform: translateX(-1800px);
    }
    50%,
    20% {
      transform: translateX(50px);
    }
}

.sliderBox{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
    overflow: hidden;
}

.slider{
    width: 95%;
    display: flex;
    flex-direction: row;
    column-gap: 8%
}
    
.sliderBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overscroll-behavior-x: auto;
}

.sliderImage{
    height: 180px;
    width: fit-content;
    transform: translateX(100px) rotate(45deg);
    animation: backwards;
    animation-name: slide;
    animation-direction: forward;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.cards{
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cardHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: aliceblue;
    font-size: 50px;
}

.cardOptions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 3%;
}

.card{
    width: 30%;

}

.imageCaption{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.cardButton{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cardAction{
    width: 30%;
    background-color: #00d6b7;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    font-size: 80%;
    border: none;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.formHeader{
    font-size: 40px;
}

form.contactForm {
    display: table;
    font-size: 30px;
    width: 80%;
}

div.contactForm {
    display: table-row;
    height: 30px;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    font-size: 20px;
}

label {
    padding-right: 10px;
}

.contactButton{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 25%;
    background-color: #00d6b7;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;
    border: none;
}

.footerBlock{
    background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
    display: column;
    flex-direction: row;
    padding: 2%;
}

.footerLogo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
}

.bottomBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.empty{
    width: 15%;
}

.middleBlock{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.socialHeading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footerH4{
    width: 100%;
    color: aliceblue;
    font-size: 35px;
    font-weight: 900;
}

.socialIcon{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 2%;
}

.lastBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: center;
}

.text{
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
    row-gap: 1%;
    line-height: 2px;
}

.shop{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    height: 50vh;
    padding-bottom: 20px;
}

.shopImage{
    background-color: purple;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopPrice{
    background-color: blue;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 50px;
}

.order{
    background-color: red;
}

.shopDescription{
    background-color: #00d6b7;
    padding-left: 50px;
}