html { 
    margin: left="50px" top="0px" right="50%" bottom="0px";
    font-size: 22px;
    background-color: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: black
}

a{
  flex: 2;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;
}

a:active{
    color: red;
    text-decoration: underline;
}

a:hover{
    background-color: grey;
}

.headerLogo{
    width: 10%;
    flex-shrink: 1;
    flex-grow: 2;
    flex-basis: 10px;
}

.mainNavigation{
    order: 2;
    display: flex;
    flex-shrink: 1;
    flex-grow: 2;
    flex-basis: 50px;
    width: 90%;
    font-size: 16px;
    gap: 3%;
}

header{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}



.navactive{
    color:brown;
}

.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 20px solid purple;
}

.heroBlock{
    border: 10px solid pink;
    width: 50%;
}

.heroColumn{
    border: 10px solid white;
    width: 50%;
    text-align: center;
}

.heroPicture{
    padding: 20px;
    box-align: right;
}

.heroColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.heroUpgrade{
    border: 10px solid red;
}

ul{
    list-style-type: "\1F44D";
    text-align:justify;
}

h2{
    width: 100%;
    align-content: center;
    color: black;
    text-align: center;
}

.sectionHeader{
    width: 100%;
    border: 10px solid blue;
}

.sectionContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border: 10px solid black;
}

.blankCard{
    width: 412px;
    height: 300px;
}

.bcardSlider{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
}

.last{
    border: 10px solid peru;
}

.lastHeader{
    background-color: blueviolet;
}

.sectionProfiles{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

.profiles{
    width: 33%;
    flex-shrink: 1; 
    text-align: center;
}

.pageTitle{
width: 100%;
text-align: center;
background-color: purple;
}

.shop{
background-color: aqua;
display: flex;
flex-direction: row;
}

.shopImage{
background-color: brown;
width: 50%;
flex-shrink: 1;
flex-grow: 2;
flex-basis: 50px;
}

.shopPrice{
    background-color: blue;
    border: 10px black;
    width: 50%;
    flex-shrink: 1;
    flex-grow: 2;
    flex-basis: 50px;
}

.shopDescription{
    background-color: blanchedalmond;
    border: 10px blue;
    align-items: center;
    align-content: center;
    text-align: center;
}

.order{
    background-color: aquamarine;
    border-radius: 20%;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 30px;
    font-size: 18px;
    font-family: Verdana;
}