@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  font-size: larger;
  color: #fff;
}

body{
  background-color: #131313;
  background-image: url(/assets/vbWaterMark.png);
  background-blend-mode: overlay;
  backface-visibility: visible;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: overlay;
  backface-visibility: visible;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background{
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header{
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .logo {
  width: 25%;
}

h1{
  display: block;
  text-align: center;
  color: #fff;
}

h3 span {
  color: #fff;
}

.content{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.hover-me{
  position: relative;
  text-decoration: none;
  width: 100%;
  color: white;
  background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 30px;
  font-size: 1.25em;
  font-weight: bolder;
}

details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5;
  font-weight: bolder;
}

.hover-me a span {
  color: #fff;
  font-size: 1.25;
  font-weight: bolder;
}

.save_btn {
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
}

.hover-me span{
  position: relative;
}

.hover-me::before{
  content: '';
  position: absolute;
  inset: 3px;
  background-color: #1a1a1a;
  border-radius: 30px;
  transition: 0.5s;
}

.hover-me:hover::before{
  opacity: 0.7;
}

/*add some glow effect*/
.hover-me::after{
  content: '';
  position: absolute;
  inset: 0px;
  background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
}

.hover-me:hover::after{
  opacity: 0;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

li {
  list-style: none;
}

.dropdown ul{
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 20px;
  padding: 20px;
}

.icon{
  padding-right: 15px;
}

footer{
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .socialIcon{
  background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}