body{
  margin: 0;
  background-color: #1a1a1a;
  background-image: url();
  background-blend-mode: overlay;
  backface-visibility: visible;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
    
a{
text-decoration: none;
}

.bodyCover{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
text-align: center;
margin: 0;
}

.header{
width: 100%;
margin-top: 40px;
}

.logo{
width: 30%;
}

.name{
color: aliceblue;
font-family: "Acumin Pro Font family", Sans-serif;
font-size: 30px;
font-weight: 500;
padding-bottom: 15px;
}

.bioBlock{
background-color: transparent;
width: 80%;
}

.bio{
display: inline-block;
flex-direction: row;
flex-wrap: wrap;
background-color: transparent;
}

.content{
width: 95%;
display: flex;
flex-direction: column;
align-items: left;
padding-top: 10px;
margin: 2%;
}

.share{
display: flex;
width: 100%;
flex-direction: column;  
align-content: center;  
}

.socialIcon{
padding-bottom: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: space-between;
}

.button{
display: flex;
width: 100%;
flex-direction: column;  
justify-content: center;
justify-items: flex-start;
font-family: "Acumin Pro Font family", Sans-serif;
border-radius: 35px 35px 35px 35px;
text-align: left;
margin-bottom: 10%;
padding-left: 15px;
}

.saveButton{
background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
border: none;
border-radius: 35px;
padding: 15px;
font-size: medium;
font-weight: 700;
color: white;
width: 90%;
}

.webButton{
width: 90%;
background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
border: none;
box-shadow: none;
border-radius: 30px;
text-align: left;
}

.buttonLink{
text-decoration: none;
color: black;
font-size: large;
font-weight: bold;
width: 100%;
color: white;
}

.buttonSingle{
width: 100%;
background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
border: none;
box-shadow: none;
padding-left: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
margin-bottom: 10%;
border-radius: 30px;
}




<!--css code vir die accordion-->

details {
font: 16px "Acumin Pro Font family", sans-serif;
background-color: transparent;
}

details > summary {
width: 85%;
background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
border: none;
box-shadow: none;
cursor: pointer;
font-weight: bold;
font-size: large;
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
border-radius: 30px;
color: white;
text-align: center;
}



::marker{
color: transparent;
}

details[open] > p, a, h3 {
border-radius: 0;
background-color: transparent;
margin: 10px;
box-shadow: none;
text-align: left;
text-decoration: none;
color: #000000;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}

details[open] > summary {
  background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
  width: 90%;
}

footer{
width: 105%;
background: linear-gradient(90deg, #00d6b7, #005d91, #6422ae);
}

h6{
  color: transparent;
}

h5{
  color: transparent;
}

.image{
  width: 100vw;
}