

body{
    margin: 0;
    background-image: url();
    background-blend-mode: overlay;
    backface-visibility: visible;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
.header{
   display: flex;
   justify-content: center;
}
  
.into{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name{
    font-family: 'Lora', 'Open Sans';
    color: #0e1e3b;
    font-weight: 500px;
    text-align: center;
}

.position{
    font-family: 'Minion Pro', 'Avenir';
    text-align: center;
}

a{
  text-decoration: none;
}
  
.bodyCover{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0;
}
  
.logo{
  display: inline-block;
  border-radius: 90px;
}
  
  
.socialIcon{
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.button{
  display: flexbox;
  flex-direction: column;  
  justify-content: center;
  justify-items: center;
  font-family: "Acumin Pro Font family", Sans-serif;
  background-color: #0e1e3b;
  border-radius: 35px 35px 35px 35px;
  padding: 15px 15px 15px 15px;
  margin: 5%;
  text-align: center;
}
  
.buttonContent{
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
}
  
<!--css code vir die accordion-->
  
details {
    font: 16px "Acumin Pro Font family", sans-serif;
    width: 620px;
    background-color: #3FA79D;
    display: inline-block;
}
    
details > summary {
    padding: o;
    width: 12em;
    background-color: #3FA79D;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}
    
details > p {
    border-radius: 0;
    background-color: transparent;
    padding: 2px 6px;
    margin: 0;
    box-shadow: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
    
details[open] > summary {
    background-color: transparent;
}

.footer{
    background-color: #0e1e3b;
    border-top: 10px solid #935e28;
    block-size: 10vh;
}

.color{
    background-color: #49a2ac, #676968, #aaadae, #cfebec;

}